node_modules
dist
.git
.gitignore
.env
.env.local
.env.production
local.db
local.db-shm
local.db-wal
.DS_Store
.vscode
.idea
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.turbo
.astro
coverage
.tursorc
